.board-item-info > * {
  margin: 0;
}

.board-item-info > h4 {
  color: #606163;
  font-size: 20px;
}

.board-item-info > p {
  color: #606163;
  font-size: 12px;
}

.board-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: start;
}
.board-display > a {
  font-family: Roboto;
  margin: 10px 20px;
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  text-decoration: none;
}

.board-display > a:hover {
  background-color: #efefef;
}

/* ///// */

.board-display a {
  margin: auto 0px;
  width: 32%;
}
.board-container {
  width: 100%;
}
.board {
  width: 90%;
  min-height: 300px;
  overbackground-color: #f0f0f0;
  border-radius: 10px;
  column-count: 3;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: auto;
}

.board-item-img {
  display: inline-table;
  margin: 0;
  padding: 0;
}

.board img {
  width: 100%;
  display: inline-table;
  /* padding: 5px 15px 8px 10px; */
  border-radius: 10px;
}

/* .board-item-img {
  width: 90px;
  display: inline-flex;
  margin: auto 1px;
  border-radius: 5px;
} */
