nav {
  display: inline-flex;
  width: 100%;
  height: 64px;
  border-bottom: #efefef solid 1px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.fa-tree {
  padding: 5px;
}
.fa-tree:hover {
  background-color: #efefef;
  border-radius: 50%;
}

.search-box {
  height: 40px;
  width: 780px;
  background-color: #efefef;
  align-self: center;
  border-radius: 6px;
  display: flex;
  margin: 10px;
  margin-top: 18px;
  box-sizing: border-box;
}

.search-input {
  outline: none;
}

.search-box:focus-within {
  border: 3px solid #80ccff;
}

.search-box:focus-within .search-icon-container {
  padding-left: 0px;
}

.search-box:focus-within form {
  padding: 0px;
}

.search-box form {
  padding: 3px 3px 3px 0px;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
}

.search-icon {
  width: 25px;
  height: 25px;
  padding: 8px 8px 0 8px;
}

.search-input {
  margin-top: 8px;
  width: 730px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.logo-link {
  margin: 10px 5px 13px 13px;
  /* font-weight: bold; */
  text-decoration: none;
  color: #8e8e8e;
}

.nav-link {
  margin: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #8e8e8e;
}

.nav-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #8e8e8e;
  margin: 6 10px;
  padding: 10px;
}

.nav-link:hover {
  background-color: #efefef;
  border-radius: 9999px;
}

nav .active {
  color: black;
}
nav {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  background: white;
  overflow: hidden;
}
